<!doctype html>
<html lang="en" class="h-100">
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="UTF-8">
                <meta name="description" content="An application to generate a new game board map for TI4.">
                <meta name="keywords" content="Twilight Imperium,TI4,Map,Board,Players,Generator">
                <meta name="author" content="Keegan Williams">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% endblock %}

            <title>{% block title %}TI4 Map Generator{% endblock %}</title>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                  crossorigin="anonymous">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
            <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon.png') }}">

            {% block css %}
                <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            {% endblock %}
        {% endblock %}
        <link rel="preload" href="{{ url_for('static', filename='img/tiles/ST_0.png') }}" as="image">
        {% for tile_num in range(18,50) %}
            <link rel="preload" href="{{ url_for('static', filename='img/tiles/ST_' + tile_num|string + '.png') }}" as="image">
        {% endfor %}
    </head>

    <body class="d-flex flex-column h-100">
        {% include "bootstrap-icons.svg" %}

        <main role="main" class="flex-shrink-0">
            <div class="controls btn-group-justified btn-group-sm ">
                <button type="button" id="toggleOptions" class="btn btn-primary">
                    <svg class="icon icon-contract">
                        <use xlink:href="#arrow-bar-right"/>
                    </svg>
                    <svg class="icon icon-expand">
                        <use xlink:href="#arrow-bar-left"/>
                    </svg>
                </button>

            </div>
            <div id="options">
                {% include "options.html" %}
            </div>
            <div id="mainContent" class="justify-content-center align-items-center">
                {% include "map.html" %}
            </div>

            {% set id="pickStyleModal" %}
            {% set title="About Pick Style" %}
            {% set text='Pick Style is used to determine how tiles are weighted for when they are placed on the board. A higher weighted tile means that the hex is more important, and so (depending on the board style) it is put closer to home worlds to facilitate availiable assets.
                            <br>
                            <br>Random: Tiles are completely randomly ordered. Expect chaotic and unbalanced maps.
                            <br>Resource: Tiles are ordered primarily by their resource values. Higher resource planets are more coveted, and so are more important.
                            <br>Influence: Similar to "resource", tiles are ordered primarily by their influence values.
                            <br>Tas: A custom weight which favors resources above all else, but more accurately factors in tech specialties and influence as trade-offs to the "resource" pick.' %}
            {% include "modal.html" %}

            {% set id="boardStyleModal" %}
            {% set title="About Board Style" %}
            {% set text='Board style is how the board is actually pictured. Changing this value would cause you to expect weighted tiles to be placed in certain positions, or some tiles not to be placed at all (especially in lower player counts). For example, 6-player "Normal" places important tiles closer to home worlds, while 6-player "Warzone" places the most valuable planets close to Mecatol Rex, forcing you to fight for your assets.' %}
            {% include "modal.html" %}

            {% set id="tileStringModal" %}
            {% set title="About Tile String" %}
            {% set text='The custom tile string allows you to share board layouts with friends easily. Just copy your tile string from the bottom of the page or the text box below, and send it to your friends. When they are using this application, they can simply paste it in, and hit "Display" to view the board layout you created.' %}
            {% include "modal.html" %}
        </main>

        {% block bootstrap_scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>
        {% endblock %}

        {% block scripts %}
            <script>
                var currentTiles = [];
                var zoom = 1.0;
                const BOARD_STYLES = {{ all_board_styles|tojson }};

                // Get the various jquery selectors
                let overview = $("#overview");
                let mapContainer =  $("#mainContent");
                let optionsContainer =  $("#options");
                let toggleOptions =  $("#toggleOptions");
                let tiMap = $("#tiMap");
                let generateForm = $("#generateForm");
                let playerCount = $("#playerCount");
                let boardStyle = $("#boardStyle");
                let tileForm = $("#tileForm");
                let tileStringInput = $("#tileStringInput");
                let zoomButtons = $("#zoomButtons");
                let zoomPlus = $("#zoomPlus");
                let zoomMinus = $("#zoomMinus");
            </script>
            <script src="{{ url_for('static', filename='js/createMap.js') }}"></script>
            <script src="{{ url_for('static', filename='js/dragAndDrop.js') }}"></script>
            <script src="{{ url_for('static', filename='js/handleForms.js') }}"></script>
            <script>
                // Trigger a map redraw on resize and ready
                window.onresize = drawMap;
                window.onresize = checkToggle;
                $( document ).ready(function() {
                    drawMap();
                    checkToggle(true);
                });
            </script>
        {% endblock %}
    </body>
</html>
