<!doctype html>
<html lang="en" class="h-100">
    <head>
        {% block head %}
        {% block meta %}
        <meta charset="UTF-8">
        <meta name="description" content="An application to generate a new game board map for TI4.">
        <meta name="keywords" content="Twilight Imperium,TI4,Map,Board,Players,Generator">
        <meta name="author" content="Keegan Williams">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        <title>{% block title %}TI4 Generator{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon.png') }}">
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <header>
        </header>
        <main role="main" class="flex-shrink-0">
            <div id="options">
                <h2 class="text-center">Generation Options</h2>
                <form id="generateForm" action="{{ url_for('.generate') }}">
                    <div class="form-group">
                        <label for="playerCount">Number of Players</label>
                        <select class="form-control" id="playerCount" name="player-count">
                            {% for count in form_info.player_count %}
                                <option value="{{ count }}">{{ count }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="pickStyle">Picking Style <img src="{{ url_for('static', filename='img/question-circle.svg') }}" class="more-info" alt="More Information" title="More Information" data-toggle="modal" data-target="#pickStyleModal"></label>
                        <select class="form-control" id="pickStyle" name="pick-style">
                            {% for style in form_info.pick_style %}
                                <option value="{{ style }}">{{ style|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="boardStyle">Board Style <img src="{{ url_for('static', filename='img/question-circle.svg') }}" class="more-info" alt="More Information" title="More Information" data-toggle="modal" data-target="#boardStyleModal"></label>
                        <select class="form-control" id="boardStyle" name="board-style">
                            {% for style in form_info.board_style %}
                                <option value="{{ style }}">{{ style|capitalize }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="seed">Specific Seed</label>
                        <input class="form-control" id="seed" name="seed" type="text" placeholder="" value="{{ form_info.seed }}">
                    </div>

                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="shuffleBoards" name="shuffle-boards" {% if form_info.shuffle_boards == True %}checked{% endif %}>
                        <label class="form-check-label" for="shuffleBoards">Randomize Priorities Before Placement</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Generate</button>
                </form>
                <h2 class="text-center m-4">or</h2>
                <form id="tileForm">
                    <div class="form-group">
                        <label for="tileStringInput">Custom Tile String <img src="{{ url_for('static', filename='img/question-circle.svg') }}" class="more-info" alt="More Information" title="More Information" data-toggle="modal" data-target="#tileStringModal"></label>
                        <textarea class="form-control" id="tileStringInput" rows="3" placeholder="Enter a tile string from a previous generation..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Display</button>
                </form>
            </div>
            <div id="mainContent" class="justify-content-center align-items-center">
                <div id="overview" class="justify-content-center">
                    <h1>TI4 Board Generator</h1>
                    <div id="description">
                        <p>This tool is designed to help you pick out a Twilight Imperium 4 board to play your next game on. By using the customization options to the left, you can design and agree upon on a fair and balanced galaxy map before you even open the box to begin step. This helps cut down on game time and unlucky tile draws during traditional game setup. Hit "Generate" to view a randomly generated 6 player map, and drag and drop tiles to get started customizing your own board!</p>
                    </div>
                </div>

                <div id="map" class="center-map">
                    {% for index in range(37) %}
                        <div class="tile-wrapper">
                            <img id="tile-{{ index }}"
                                 class="tile"
                                    {# style="margin-left: {{ offsets_136[index][0] }}px; margin-top: {{ offsets_136[index][1] }}px;"#}
                                 src=""
                                 draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"
                                    {# width="136" height="119"#}
                                 alt=""
                                 onerror="this.style.display='none'"
                            />
                        </div>
                    {% endfor %}
                </div>

                <div id="zoomButtons" class="d-none btn-group-justified btn-group-sm btn-group-vertical">
                    <button class="btn btn-info" id="zoomPlus">+</button>
                    <button class="btn btn-info" id="zoomMinus">-</button>
                </div>
            </div>

{#            <div id="tileList" class="d-none">#}
{#                <span id="tileString"></span>#}
{#                <button id="copyClipboard" type="button" onclick="copyToClipboard('#tileString')" class="btn btn-light">#}
{#                    <img src="{{ url_for('static', filename='img/clipboard-plus.svg') }}" alt="Copy to clipboard" width="26" height="26" title="Copy to clipboard">#}
{#                </button>#}
{#            </div>#}

            {% set id="pickStyleModal" %}
            {% set title="About Pick Style" %}
            {% set text='Pick Style is used to determine how tiles are weighted for when they are placed on the board. A higher weighted tile means that the hex is more important, and so (depending on the board style) it is put closer to home worlds to facilitate availiable assets.
                            <br>
                            <br>Random: Tiles are completely randomly ordered. Expect chaotic and unbalanced maps.
                            <br>Resource: Tiles are ordered primarily by their resource values. Higher resource planets are more coveted, and so are more important.
                            <br>Influence: Similar to "resource", tiles are ordered primarily by their influence values.
                            <br>Tas: A custom weight which favors resources above all else, but more accurately factors in tech specialties and influence as trade-offs to the "resource" pick.' %}
            {% include "modal.html" %}

            {% set id="boardStyleModal" %}
            {% set title="About Board Style" %}
            {% set text='Board style is how the board is actually pictured. Changing this value would cause you to expect weighted tiles to be placed in certain positions, or some tiles not to be placed at all (especially in lower player counts). For example, 6-player "Normal" places important tiles closer to home worlds, while 6-player "Warzone" places the most valuable planets close to Mecatol Rex, forcing you to fight for your assets.' %}
            {% include "modal.html" %}

            {% set id="tileStringModal" %}
            {% set title="About Tile String" %}
            {% set text='The custom tile string allows you to share board layouts with friends easily. Just copy your tile string from the bottom of the page or the text box below, and send it to your friends. When they are using this application, they can simply paste it in, and hit "Display" to view the board layout you created.' %}
            {% include "modal.html" %}
        </main>
        <footer class="footer mt-auto py-3">
        {#    {% block footer %}#}
        {#    <div class="container">#}
        {#        <span class="text-muted">&copy; 2020 by <a href="https://keeganwilliams.com">Keegan Williams</a></span>#}
        {#    </div>#}
        {#    {% endblock %}#}
        </footer>
        {% block bootstrap_scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>
        {% endblock %}
        {% block scripts %}
            <script>
                var currentTiles = [];
                var zoom = 1.0;
                const BOARD_STYLES = {{ all_board_styles|tojson }};

                // Get the various jquery selectors
                let overview = $("#overview");
                let mapContainer =  $("#mainContent");
                let map = $("#map");
                let generateForm = $("#generateForm");
                let playerCount = $("#playerCount");
                let boardStyle = $("#boardStyle");
                let tileForm = $("#tileForm");
                let tileStringInput = $("#tileStringInput");
                let zoomButtons = $("#zoomButtons");
                let zoomPlus = $("#zoomPlus");
                let zoomMinus = $("#zoomMinus");
            </script>
            <script src="{{ url_for('static', filename='js/createMap.js') }}"></script>
            <script src="{{ url_for('static', filename='js/dragAndDrop.js') }}"></script>
            <script src="{{ url_for('static', filename='js/handleForms.js') }}"></script>
            <script>
                // Trigger a map redraw on resize and ready
                window.onresize = drawMap;
                $( document ).ready(function() {
                    drawMap();
                });
            </script>
        {% endblock %}

    </body>
</html>
