<div class="title">
    <h4 id="infoTitle" class="text-center">More Info</h4>
</div>
<div id="moreInfo" class="">
    {% for index in range(19,51) %}
        <div class="tile-wrapper" style="position: relative">
            {#            <span id="extra-num-{{ index }}" class="overlay" style="width: 105px; height: 91px; line-height: 91px; display: none;">{{ index }}</span>#}
            <img id="extra-tile-{{ index }}"
                 width="105px"
                 height="91px"
                 class="tile"
                 src="/static/img/tiles/ST_{{ index }}.png"
                 draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)"
                 alt=""
                 style="display: none;margin:3px;position:relative;"
            />
            <svg id="extra-underlay-{{ index }}" class="underlay" style="width: 111px; height: 97px;position:absolute;top:0;left:0;">
                <use xlink:href="#hex"/>
            </svg>
        </div>
    {% endfor %}
</div>