:root {
    --primary-color: #eb7522;
    --secondary-color: #1071b5;
    --tertiary-color: #e6e8ea;
    --border-color: #efefef;
    --hover-color: #794100;
    --background-color: #141b24;

    --scroll-bar-distance: 17px;
    --title-height: 60px;
    --options-width: 400px;
    --extra-tiles-width: 0px;
    --more-info-width: 0px;
}

/* Set height for mobile address bar issues*/
html, body {margin: 0; height: 100%;}

/* Set base background, colors, and fonts*/
body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-color);
    color: black;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
h1, h2, h3, h4, h5 {
        font-family: HandelGothic, Slider, sans-serif;
}

/* Settings for button customization */
.btn-primary, .btn-outline-primary:hover, .btn-primary:focus {
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}
.form-check .form-check-input:not(:checked){
    border: 1px solid #adb5bd;
}
.form-check .form-check-input:checked{
    /* Change the background on checkboxes to be the same as buttons*/
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.form-check-label {
    /* Change the label for checkboxes to be a pointer */
    cursor: pointer;
}

/* Icon specific configurations */
.icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: block;
}
.d-flex > .icon {
    margin-top: 5px;
    margin-left: 5px;
}

/* Set the top headers to be the same height, but have different colors */
.title {
    height: 60px;
    background-color: var(--primary-color);
}
#mainContent .title {
    padding-top: 8px;
    background-color: var(--secondary-color);
}
#options .title, #extraTilesContainer .title, #moreInfoContainer .title {
    color: white;
    padding-top: 15px;
}

/* Place the options board on the right side of the screen */
/*  Debate about this, but modeling after twitch's chat popout */
/*  Could also consider a bottom bar, but vertical page height is too important*/
#options {
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--options-width);
    overflow: auto;
    background-color: var(--tertiary-color);
}
#extraTilesContainer {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--extra-tiles-width);
    overflow: auto;
    background-color: var(--tertiary-color);
}
#extraTiles {
    color: white;
}
#moreInfoContainer {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--more-info-width);
    overflow: auto;
    background-color: var(--tertiary-color);
}
#generateForm, #tileForm, #extraTiles {
    padding: var(--scroll-bar-distance);
}

/* Where the toggle option is visible */
#toggleOptions {
    position: fixed;
    z-index: 1002;
    top: 17px;
    user-select: none;
    /* Normally, the button should be on the left side of the options menu */
    right: calc(var(--options-width) + var(--scroll-bar-distance));
}
#toggleOptions.full-screen {
    right: calc(100% - 35px - var(--scroll-bar-distance));
}
#toggleOptions.hidden, #toggleOptions.full-screen.hidden {
    right: var(--scroll-bar-distance);
}
/* Pure css solution to which icon is showing, based on a single class being added*/
#toggleOptions .icon-expand, #toggleOptions.hidden .icon-contract {
    display: none;
}
#toggleOptions.hidden .icon-expand, #toggleOptions .icon-contract {
    display: block;
}


.overlay-cls-1 {
    fill:none;
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width:8px;
}
.overlay-cls-2 {
    font-size:148.63px;
    fill:#fff;
    font-family:MyriadPro-Regular, Myriad Pro, serif;
    letter-spacing:-0.1em;
}

/* Place the overview in the middle of the left div*/
#mainContent {
    position: fixed;
    top: 0;
    right: var(--options-width);
    width: calc(100% - var(--options-width) - var(--extra-tiles-width) - var(--more-info-width));
    height: 100%;
    text-align: center;
    overflow: auto;
    /*background-color: var(--background-color);*/
    color: white;
}
#description {
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

/* Make map positioned centered relative to enclosing container. */
.map {
    position: absolute;
    top: 0;
    left: 0;
}
.overlay {
    font-family: HandelGothic, Slider, sans-serif;
    position: absolute;
    text-align: center;
    z-index: 2; /* Raise above images */
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}
.center-map {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-map-horizontal {
    left: 50%;
    transform: translate(-50%, 0);
}
.center-map-vertical {
    top: 50%;
    transform: translate(0, -50%);
}

/* Add the zoom buttons for the map to work with */
#zoomButtons {
    position: fixed;
    top: var(--title-height);
    right: calc(var(--options-width) + var(--scroll-bar-distance));
    z-index: 1002;
}
#zoomButtons .btn:focus {
    box-shadow: none;
}
#rotateButtons {
    position: fixed;
    top: calc(var(--title-height)  + 60px);
    right: calc(var(--options-width) + var(--scroll-bar-distance));
    z-index: 1002;
}
#rotateButtons .btn:focus {
    box-shadow: none;
}
#hexOverlay {
    position: fixed;
    top: calc(var(--title-height) + 120px);
    right: calc(var(--options-width) + var(--scroll-bar-distance));
    z-index: 1002;
}
#wormholeOverlay {
    position: fixed;
    top: calc(var(--title-height) + 155px);
    right: calc(var(--options-width) + var(--scroll-bar-distance));
    z-index: 1002;
}
#extraTilesButton {
    position: fixed;
    top: calc(var(--title-height) + 190px);
    right: calc(var(--options-width) + var(--scroll-bar-distance));
    z-index: 1002;
}
#moreInfoButton {
    position: fixed;
    top: calc(var(--title-height) + 225px);
    right: calc(var(--options-width) + var(--scroll-bar-distance));
    z-index: 1002;
}
#shareMapButton {
    position: fixed;
    top: calc(var(--title-height) + 260px);
    right: calc(var(--options-width) + var(--scroll-bar-distance));
    z-index: 1002;
}
#loadMapButton {
    position: fixed;
    top: calc(var(--title-height) + 295px);
    right: calc(var(--options-width) + var(--scroll-bar-distance));
    z-index: 1002;
}
#toggleBackgroundButton {
    position: fixed;
    bottom: var(--scroll-bar-distance);
    right: calc(var(--options-width) + var(--scroll-bar-distance));
    z-index: 1002;
}
#hexOverlay .btn:focus {
    box-shadow: none;
}
#moreInfo {
    overflow: auto;
}

.btn-primary.active, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

/* Always position the map images relative to the map container.
        Use margin-left and right to position exactly. */
.tile {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.tile:hover {
    z-index: 100;
}
.tile-target {
    z-index: 102;
}
.underlay {
    color: var(--secondary-color);
    display: none;
    position: absolute;
    z-index: -1;
}
.tile:hover + .underlay {
    z-index: 98;
    display: block;
}
.underlay-target {
    color: var(--primary-color);
    z-index: 101;
    display: block;
}
.tile-wrapper {
    position: relative;
}

a {
    color: var(--primary-color);
}
a:hover {
    color: var(--hover-color);
}

.overview-panel {
    background-color: rgba(74, 111, 144, 0.42);
    max-width: 650px;
}
.overview-image {
    padding: 15px;
    width: 250px;
}

/* Display certain maps based on browser size, so it fits on the page. */
@media screen and (max-width: 1080px) {
    .overview-panel {
        background-color: rgba(74, 111, 144, 0.42);
        width: 300px;
    }
    .overview-image {
        width: 0;
    }
}
@media screen and (max-width: 700px) {
    :root {
        --options-width: 0px;
        --extra-tiles-width: 0px;
    }
    .overview-panel {
        background-color: rgba(74, 111, 144, 0.42);
        width: calc(100% - (var(--scroll-bar-distance) * 2));
    }
    .overview-image {
        width: 0;
    }
    #options, #extraTiles, #moreInfo {
        width: 100%;
        z-index: 1001;
    }
    #mainContent {
        width: 100%;
    }
    #mainContent .title h2 {
        margin-right: calc(35px + var(--scroll-bar-distance));
    }
    #description {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 500px) {
}

@media screen and (max-width: 1000px), (max-height: 900px) {
}
@media screen and (max-width: 700px), (max-height: 720px) {
}
@media screen and (max-width: 500px), (max-height: 540px) {
}